*
body{
	background-color:light grey;
	color:grey;
    background-image:url(bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
	
}
.box-img{
	border-radius:50%;
	width=:150px;
	height:150px;
	margin-left:43%;
	margin-top:2%;
	
}
	
.box-1{
	margin-left:20%;
	margin-right:20%;
	background-color:rgba(0,0,0,0.1);
	border:1px grey solid;
	border-radius:25px;
}
h1{
	text-align:center;
	
}
p{
	text-align:center;
	padding:5%;
	
}
a {
	text-decoration:none;
	color:black;
	padding:11%;
}
a:hover{
	color:blue;
}
h4{
	padding-left:5%;
}
li{
	margin-left:3%;
	margin-right:85%;
	padding-bottom:6px;
	border-bottom:dotted 1px black;
	font-size:0.9em;
}

.table{
	text-align:left;
	margin-top:5%;
	margin-left:2%;
	border-collapse:collapse;
	min-width:400px;
	font-size:0.9em;
}
